---
import { getCollection, type CollectionEntry } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import SkipMain from '../../components/SkipMain.astro';
import NavMain from '../../components/NavMain.astro';
import FeatureItem from '../../components/FeatureItem.astro';
import FadeInUp from '../../components/Animations/FadeInUp';
import ReviewGrid from '../../components/ReviewGrid.astro';
import FooterMain from '../../components/FooterMain.astro';
import FAQHome from '../../components/FAQHome.astro';

export const getStaticPaths = async () => {
  const serviceEntries = await getCollection('service');
  return serviceEntries.map((service: CollectionEntry<'service'>) => ({
    params: { slug: service.slug },
    props: service.data,
  }));
};

interface ServiceProps {
  pageTitle: { pre: string; highlight: string; post: string; };
  description: string;
  quoteLink: string;
  aboutServices: string;
  serviceName: string;
  benefits: { text1: string; text2: string; text3: string; };
  benefitImg: string;
  image: string;
  headerImg: string;
}

const { pageTitle, description, serviceName, image, aboutServices, benefitImg, headerImg, benefits } = Astro.props as ServiceProps;
---
<!DOCTYPE html>
<html lang="en">
  <BaseHead
    title={`${pageTitle.pre} ${pageTitle.highlight} ${pageTitle.post}`}
    description={description}
    image={image}
  />
  <body>
    <SkipMain />
    <header>
      <NavMain />
    </header>
    <main>
      <section class="hero-sub" role="banner">
        <div class="padding-hero">
          <div class="container">
            <div class="wrapper-center">
                <FadeInUp delay={0.125} duration={1} client:load>
                    <h1 class="page-title center">
                        {pageTitle.pre} <span class="highlight">{pageTitle.highlight}</span> {pageTitle.post}
                    </h1>
                </FadeInUp>
                <FadeInUp delay={0.25} duration={1} client:load>
                    <p class="body-regular center">
                        {description}
                    </p>
                    <div class="wrapper-btn center">
                        <a class="btn">Get Your Free Quote</a>
                    </div>
                </FadeInUp>
            </div>
        </div>
      </section>

      <!-- Header Image Section -->
      <section>
        <div class="padding-section">
          <div class="container">
            <img src={headerImg} alt={serviceName} class="svc-header-img" />
          </div>
        </div>
      </section>
      <FadeInUp delay={0.25} duration={1} client:load>
        <section>
            <div class="padding-section">
            <div class="container">
                <div class="wrapper-col">
                <div class="wrapper">
                    <h2 class="section-title">
                    Your Peace of<br />
                    Mind <span class="highlight">Starts</span> Here
                    </h2>
                    <p class="body-regular">
                    {aboutServices}
                    </p>
                    <div class="wrapper-feature vertical">
                        <FeatureItem title={benefits[0]?.text1} />
                        <FeatureItem title={benefits[1]?.text2} />
                        <FeatureItem title={benefits[2]?.text3} />
                    </div>
                    <div class="wrapper-btn">
                    <a class="btn">Get Your Free Quote</a>
                    </div>
                </div>
                <img src={benefitImg} alt={serviceName} class="img-reg short" />
                </div>
                <div class="wrapper-col padding-top">
                <div class="card">
                    <h3 class="title-card center">Compare Top Providers</h3>
                    <p class="body-regular center">
                    Moore Insurance shops multiple trusted insurance companies on your behalf—so you get better pricing and a policy that fits your needs.
                    </p>
                </div>
                <div class="card">
                    <h3 class="title-card center">Personalized Policy</h3>
                    <p class="body-regular center">
                    We take time to understand your risks and needs—then recommend coverage that actually protects what matters most.
                    </p>
                </div>
                <div class="card">
                    <h3 class="title-card center">Ongoing Support</h3>
                    <p class="body-regular center">
                    From reviewing policies to helping with claims, we're here to provide you with a real person, real answers, and real peace of mind.
                    </p>
                </div>
                </div>
            </div>
            </div>
        </section>
    </FadeInUp>

      <!-- Call to Action -->
      <section class="city-bg">
        <div class="padding-section">
          <div class="container">
            <div class="wrapper-center">
              <h2 class="page-title center">
                Start <span class="highlight">Protecting</span><br />
                What Matters
              </h2>
              <div class="wrapper-btn short-padding">
                <a class="btn">Get Your Free Quote</a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Reviews Section -->
      <FadeInUp delay={0.125} duration={1} client:load>
        <section>
          <div class="padding-section">
            <div class="container">
              <ReviewGrid />
              <div class="wrapper-center">
                <div class="wrapper-btn">
                  <a class="btn">Get Your Quote</a>
                  <a class="btn secondary">Leave Us A Review</a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </FadeInUp>

      <!-- FAQ Section -->
      <FadeInUp delay={0.125} duration={1} client:load>
        <section class="section-main">
          <div class="padding-section">
            <div class="container">
              <div class="wrapper-center">
                <h2 class="section-title center">
                  Some <span class="highlight">Frequently</span><br />
                  Asked Questions
                </h2>
                <FAQHome />
              </div>
            </div>
          </div>
        </section>
      </FadeInUp>

      <!-- Final CTA -->
      <FadeInUp delay={0.125} duration={1} client:load>
        <section>
          <div class="padding-section lg-bottom">
            <div class="container">
              <div class="wrapper-center">
                <h2 class="page-title center">
                  Let's <span class="highlight">Find</span> Your<br />
                  Perfect Policy
                </h2>
                <div class="wrapper-btn short-padding">
                  <a class="btn">Get Your Free Quote</a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </FadeInUp>
    </main>
    <FooterMain />
  </body>
</html>
